	
		
	<div class="full-content fact-sheets" id="cancers-fact-sheets" ng-controller="FactSheetsController">

        <md-content flex ng-controller="DataVizController" class="cancer-fact-sheets-container">

            <ul class="breadcrumb">
              <li><a href="/today/">Home</a></li>
              <li>Fact sheets</li>
              <li>Cancer fact sheets</li>
            </ul>

            <h1>Cancer fact sheets: <span id="cancer_title">{{ mainTitle }}</span></h1>

            <md-toolbar class="toolbar">
              <div class="md-toolbar-tools">
                
                <label>Cancer site: </label>
                <md-select ng-model="mCancer" ng-change="filterFactSheet('cancer',mCancer)" aria-label="Cancer site">
                    <md-option ng-repeat="cancer in cancers" value="{{ cancer.id }}" ng-disabled="{{ cancer.state }}">{{ cancer.label }}</md-option>
                </md-select>

                <label class="fact-change">Type: </label>
                <md-select class="fact-change" ng-model="mType" ng-change="filterFactSheet('type',mType)" aria-label="Type" ng-disabled="{{ typeState}}">
                    <md-option value="0">Incidence</md-option>
                    <md-option value="1">Mortality</md-option>
                </md-select>

                <label class="fact-change">Sex: </label>
                <md-select class="fact-change" ng-model="mSex" ng-change="filterFactSheet('sex',mSex)" aria-label="Sexes" ng-disabled="{{ sex}}">
                    <md-option ng-repeat="sex in sexes" value="{{ sex.id }}" ng-disabled="{{ sex.state }}">{{ sex.label }}</md-option>
                </md-select>

                <!-- ng-click="printFactSheet()" -->
                <a class="btn_download btn_link" id="dl_pdf" data-toggle="tooltip" title="Download as a PDF" target="_blank" data-original-title="Download as a PDF">
                    <i class="fa fa-floppy-o"></i> PDF
                </a>

                <a class="btn_permalink btn_link" data-toggle="tooltip" title="Copy the permalink" data-original-title="Copy the permalink">
                    <i class="fa fa-link"></i> Permalink
                </a>

              </div>
            </md-toolbar>

            <md-tabs md-dynamic-height md-border-bottom>
                
                 <md-tab label="Summary" md-on-select="onTabSelected('summary')">
                    <md-content class="content content-tab" id="pyramid-fact-sheets-container">
                            
                        <div class="row">

                            <div class="col-md-8">
                                <h2 id="title-dual-bars"></h2>
                                <div id="svg-dual" layout="column" layout-fill layout-align="top center">
                                    <svg></svg>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <h2>At a glance</h2>
                                <p id="txt-at-a-glance"></p>
                            </div>

                        </div>

                    </md-content>
                </md-tab>

                <md-tab label="Table" md-on-select="onTabSelected('table')">
                    <md-content class="content content-tab" id="table-fact-sheets-container">
                        <h2 id="title-table">Estimated incidence, mortality and prevalence (5 years) worlwide in 2012</h2>
                        <div id="table-fact-sheets"></div>
                    </md-content>
                </md-tab>
                
                <md-tab label="Geography" md-on-select="onTabSelected('geo')">
                    <md-content class="content content-center content-tab" id="map-fact-sheets-container">
                        <h2 id="title-map" class="title"></h2>
                        <div id="map-container" layout="column" layout-fill layout-align="top center"></div>
                    </md-content>
                </md-tab>

                <md-tab label="Trends" ng-disabled="disableTrends" md-on-select="onTabSelected('trends')">
                    <md-content class="content content-center content-tab" id="trends-fact-sheets-container">
                      <h2 id="title-trends"></h2>
                      <div class="row">
                        <div class="col-md-4 trends" id="trend1"></div>
                        <div class="col-md-4 trends" id="trend2"></div>
                        <div class="col-md-4 trends" id="trend3"></div>
                      </div>
                    </md-content>
                </md-tab>
             
            </md-tabs>

        </md-content>

    </div>