.cancer-color1{ color :#AE563E ; fill : #AE563E ; background : #AE563E ; } 
.cancer-color2{ color :#2A4950 ; fill : #2A4950 ; background : #2A4950 ; } 
.cancer-color3{ color :#6D8A6D; fill : #6D8A6D ; background : #6D8A6D ;  }
.cancer-color4{ color :#DC1341; fill : #DC1341 ; background : #DC1341 ;}
.cancer-color5{ color :#4682B4; fill : #4682B4 ; background : #4682B4 ;}
.cancer-color6{ color :#FFD803; fill : #FFD803 ; background : #FFD803 ;}
.cancer-color7{ color :#F3A654; fill : #F3A654 ; background : #F3A654 ;}
.cancer-color8{ color :#0f330f; fill : #0f330f ; background : #0f330f ;}
.cancer-color9{ color :#940009; fill : #940009 ; background : #940009 ;}
.cancer-color29{ color : #DCDCDC ; fill : #DCDCDC ; background : #DCDCDC ;} 	// Other
.cancer-color22{ color : #278D29 ; fill : #278D29 ; background : #278D29 ;}	// Bladder
.cancer-color15{ color: #FF68BC ; fill : #FF68BC ; background : #FF68BC ;}		// Breast
.cancer-color6{ color: #FFD803 ; fill : #FFD803 ; background : #FFD803 ;}		// Colorectum
.cancer-color16{ color : #FF7500 ; fill : #FF7500 ; background : #FF7500 ;}    // Cervi Uteri ,FC6158,
.cancer-color17{ color :#9FE72D ; fill : #9FE72D ; background : #9FE72D ;} 
.cancer-color18{ color :#8C07C2 ; fill : #8C07C2 ;  background : #8C07C2 ;} 
.cancer-color10{ color : #a9d4ba ; fill : #a9d4ba ; background : #a9d4ba ;}
.cancer-color27{ color : #fff ; fill : #fffff ; background : #fffff ;}
.cancer-color26{ color :#9931D0; fill : #9931D0 ; background : #9931D0 ;}
.cancer-color25{ color : #cc5906 ; fill : #cc5906 ; background : #cc5906 ;}
.cancer-color21{ color :#040186; fill : #040186 ; background : #040186 ;}
.cancer-color7{ color :#F3A654; fill : #F3A654 ; background : #F3A654 ;}
.cancer-color11{ color :#1E90FF; fill : #1E90FF ; background : #1E90FF ;}
.cancer-color20{ color : #ffff44 ; fill : #ffff44 ; background : #ffff44 ;}
.cancer-color19{ color :#34A76E; fill : #34A76E ; background : #34A76E ;}
.cancer-color23{ color :#D5BED2; fill : #D5BED2 ; background : #D5BED2 ;}
.cancer-color12{ color :#894919; fill : #894919 ; background : #894919 ;}
.cancer-color24{ color :#ADD9E4; fill : #ADD9E4 ; background : #ADD9E4 ;}
.cancer-color14{ color :#FFC2CA; fill : #FFC2CA ; background : #FFC2CA ;}
.cancer-color28{ color :#FFFFA6; fill : #FFFFA6 ; background : #FFFFA6 ;}
.cancer-color104{ color : #fff ; fill : #fffff ; background : #fffff ;}
.cancer-color105{ color : #fff ; fill : #fffff ; background : #fffff ;}
.cancer-colorother{ color : #CCCCCC ; fill : #CCCCCC ; background : #CCCCCC ;}