		
    <div class="full-content h-container" id="online-analysis-type">
        
        <ul class="breadcrumb">
          <li><a href="/today/home">Home</a></li>
          <li>Explore</li>
        </ul>

        <h1>EXPLORE</h1>

        <div id="online-home">
            
            <div class="row">	

                <!--<select ng-model="col_md" style="position: absolute; bottom: 50px ;color: #000 ;  right: 0 ; ">
                    <option value="6"> 2 columns </option>
                    <option value="12"> 1 column </option>
                </select>-->
                
                <div class="col-md-{{ col_md }} sub-block">
                    <h2>Comparisons</h2>
                    <ul class="dataviz big_box">
                        <li><a href="online-analysis-multi-bars"><img src="img/icons/svg/white/bar.svg"><span>Multi bars</span></a></li>
                        <li><a href="online-analysis-table"><img src="img/icons/svg/white/time_table.svg"><span>Table</span></a></li>
                        <li><a href="online-analysis-dual-bars-2"><img src="img/icons/svg/white/dual.svg"><span>Dual bars</span></a></li>
                        <li><a href="online-analysis-scatter-plot"><img src="img/icons/svg/white/scatterplot.svg"><span>Scatter plot</span></a></li>
                    </ul>  
                </div>
                
                <div class="col-md-{{ col_md }} sub-block">
                    <h2>Proportions</h2>
                    <ul class="dataviz small_box">
                        <li><a href="online-analysis-pie"><img src="img/icons/svg/white/pie_chart.svg"><span>Pie chart</span></a></li>
                        <li><a href="online-analysis-pie?half_pie=1"><img src="img/icons/svg/white/donut_chart.svg"><span>Doughnut chart</span></a></li>
                    </ul>  
                </div>
                
                <div class="col-md-{{ col_md }} sub-block">
                    <h2>Geography</h2>
                    <ul class="dataviz small_box">
                        <li><a href="online-analysis-map"><img src="img/icons/svg/white/connection_map.svg"><span>Maps</span></a></li>
                        <li><a href="online-analysis-map?projection=globe"><img src="img/icons/svg/white/globe.svg"><span>Globe</span></a></li>
                    </ul>
                </div>

                <div class="col-md-{{ col_md }} sub-block">
                    <h2>Hierarchy</h2>
                    <ul class="dataviz big_box">
                        <li><a href="online-analysis-treemap"><img src="img/icons/svg/white/treemap.svg"><span>Tree map</span></a></li>
                        <li><a href="online-analysis-sunburst"><img src="img/icons/svg/white/sunburst.svg"><span>Sunburst</span></a></li>
                        <li><a href="online-analysis-circle-packing"><img src="img/icons/svg/white/circle_packing.svg"><span>Circle packing</span></a></li>
                        <li><a href="online-analysis-force-bubbles"><img src="img/icons/svg/white/force-layout.svg"><span>Bubble chart</span></a></li>
                    </ul>
                </div>
            </div>

            <br/><br/>
        
        </div>
    
    </div>

    