	
	<ng-include src="'templates/sub-menu.html'"></ng-include>
	
	<div class="row">
	    <div class="content-full-sub-menu">
	        <ul class="breadcrumb">
	          <li><a href="/today/home">Home</a></li>
	          <li>Online analysis tools</li>
	        </ul>

	        <h1>ONLINE ANALYSIS TOOLS</h1>

	        <div class="row">
	        	<div class="col-md-6">
			       	<ul class="o-analysis">
			       		<li>
			       			<h3> <img src="svg/pie.svg">PIE CHARTS : choose between incidence, mortality or prevalence </h3>
			       			<ul>
			       				<li>
			       					<a href="/today/online-analysis-populations-by-cancer" class="screen-graph">
			       						<img src="img/captures/pie-by-cancer.PNG" title="By cancer"><span> by cancer </span>
			       					</a>
			       				</li>
			       				<li>
			       					<a href="/today/online-analysis-cancer-by-populations" class="screen-graph">
			       						<img src="img/captures/pie-by-populations.PNG" title="By populations"><span> by populations </span>
			       					</a>
			       				</li>
			       			</ul>
			       		</li>

			       		<li>
			       			<h3> <img src="svg/multibar.svg">MULTI BAR CHARTS : view incidence + mortality </h3>
			       			<ul>
			       				<li>
			       					<a href="/today/online-analysis-populations-by-cancer-i-m" class="screen-graph">
			       						<img src="img/captures/bar-by-cancer.PNG" title="By cancer"><span> by cancer </span>
			       					</a>
			       				</li>
			       				<li>
			       					<a href="/today/online-analysis-cancer-by-populations-i-m" class="screen-graph">
			       						<img src="img/captures/bar-by-populations.PNG" title="By populations"><span> by populations </span>
			       					</a>
			       				</li>
			       			</ul>

			       		</li>

			       		<li>
			       			<h3> <img src="svg/table.svg">MISC DATA VIZ </h3>
			       			<!--<ul>
			       				<li>
			       					<a href="/today/online-analysis-bubbles" class="screen-graph">
			       						<img src="img/captures/bubbles.PNG" title="Bubbles"><span> Bubbles </span>
			       					</a>
			       				</li>
			       			</ul>-->
			       			
			       			<ul>
			       				<li>
			       					<a href="/today/online-analysis-sunburst" class="screen-graph">
			       						<img src="img/captures/sunburst.PNG" title="By populations"><span> Sunburst </span>
			       					</a>
			       				</li>
			       			</ul>
			       			<ul>
			       				<li>
			       					<a href="/today/online-analysis-pyramid" class="screen-graph">
			       						<img src="img/captures/pyramid-populations.PNG" title="By populations"><span> Pyramid </span>
			       					</a>
			       				</li>
			       			</ul>
			       			<ul>
			       				<li>
			       					<a href="/today/online-analysis-treemap-by-populations" class="screen-graph">
			       						<img src="img/captures/treemap-populations.PNG" title="By populations"><span> Treemap </span>
			       					</a>
			       				</li>
			       			</ul>
			       		</li>

			       		
			       	</ul>
			    </div>
			    <div class="col-md-6">
			       	<ul class="o-analysis">
			       		<li>
			       			<h3> <img src="svg/Maps.svg"> MAPS - globe </h3>
			       			<ul>
			       				<li>
			       					<a href="/today/online-analysis-globe" class="screen-graph">
			       						<img src="img/captures/globe.PNG" title="View with globe "><span> view with globe </span>
			       					</a>
			       				</li>
			       				<li>
			       					<a href="/today/online-analysis-map" class="screen-graph">
			       						<img src="img/captures/map.PNG" title="View classic"><span> view flat map </span>
			       					</a>
			       				</li>
			       			</ul>
			       		</li>

			       		<li>
			       			<h3> <img src="svg/dualbar.svg">DUAL BAR CHARTS : view incidence + mortality / prevalence , filter by </h3>
			       			<ul>
			       				<li>
			       					<a href="/today/online-analysis-cancer-by-populations-cancers" class="screen-graph">
			       						<img src="img/captures/dual-bars-cancers.PNG" title="By cancer"><span> by cancer </span>
			       					</a>
			       				</li>
			       				<li>
			       					<a href="/today/online-analysis-cancer-by-populations-populations" class="screen-graph">
			       						<img src="img/captures/dual-bars-populations.PNG" title="By populations"><span> by populations </span>
			       					</a>
			       				</li>
			       				<li>
			       					<a href="/today/online-analysis-cancer-by-populations-sexes" class="screen-graph">
			       						<img src="img/captures/dual-bars-sexes.PNG" title="By sexes"><span> by sexes </span>
			       					</a>
			       				</li>
			       			</ul>

			       		</li>

			       		<!--<li>
			       			<h3> <img src="svg/table.svg">Cancer tomorrow  </h3>
			       			<ul>
			       				<li>
			       					<a href="/today/online-analysis-lines-predictions" class="screen-graph">
			       						<img src="img/captures/predictions-lines.PNG" title="Predictions"><span> View by lines </span>
			       					</a>
			       				</li>
			       				<li>
			       					<a href="/today/online-analysis-areas-predictions" class="screen-graph">
			       						<img src="img/captures/predictions-areas.PNG" title="Predictions"><span> View by areas </span>
			       					</a>
			       				</li>
			       			</ul>
			       		</li>

			       		<li>
			       			<h3> <img src="svg/table.svg"> Tables </h3>
			       			<ul>
			       				<li>
			       					<a href="/today/#" class="screen-graph">
			       						<img src="img/captures/globe.PNG" title="View tables "><span> view tables</span>
			       					</a>
			       				</li>
			       			</ul>
			       		</li>

			       		<li>
			       			<h3> <img src="svg/prediction.svg"> Predictions </h3>
			       			<ul>
			       				<li>
			       					<a href="/today/#" class="screen-graph">
			       						<img src="img/captures/globe.PNG" title="View predictions "><span> view predictions </span>
			       					</a>
			       				</li>
			       			</ul>
			       		</li>-->
			       		
			       	</ul>
		       	</div>
	  
	       </div>
	    </div>
	  </div>