
        

    <div class="home-centered">

        <div class="row">

            <div class="col-md-3 col-box">
                <div class="box">
                    <h2>Our research</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>
            </div>

            <div class="col-md-3 col-box">
                <div class="box">
                    <h2>Simple bars</h2>
                    <p class="img">
                        <a href="online-analysis-sunburst"><img src="img/home/squares/bars.png" title="Simple bars"/></a>
                    </p>
                </div>
            </div>

            <div class="col-md-3 col-box">
                <div class="box">
                    <h2>Explore</h2>
                    <p class="icon">
                        <a href="explore"><i style="color:#018571;" class="fa fa-folder"></i></a>
                    </p>
                </div>
            </div>

            <div class="col-md-3 col-box">
                <div class="box">
                    <h2>Force layout</h2>
                    <p class="img">
                        <a href="online-analysis-sunburst"><img src="img/home/force-layout.png" title="Force layout"/></a>
                    </p>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-3 col-box">
                <div class="box">
                    <h2>Take a tour</h2>
                    <p class="icon">
                        <a href="#modalTakeATour" data-toggle="modal"><i style="color:#b8e186;" class="fa fa-play"></i></a>
                    </p>
                </div>
            </div>

            <div class="col-md-3 col-box">
                <div class="box">
                    <h2>Globe</h2>
                    <p class="img">
                        <a href="online-analysis-globe"><img src="img/home/squares/globe.png" title="Globe chart"/></a>
                    </p>
                </div>
            </div>

            <div class="col-md-3 col-box">
                <div class="box">
                    <h2>Tables</h2>
                    <p class="icon">
                        <a href="online-analysis-table"><i style="color:#8e0152;" class="fa fa-th"></i></a>
                    </p>
                </div>
            </div>

            <div class="col-md-3 col-box">
                <div class="box">
                    <h2>Pie charts</h2>
                    <p class="img">
                        <a href="online-analysis-pie"><img src="img/home/squares/pie.png" title="Pie chart"/></a>
                    </p>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-3 col-box">
                <div class="box">
                    <h2>Population fact sheets</h2>
                    <p class="icon">
                        <a href="fact-sheets-cancers"> <i style="color:#80cdc1;" class="fa fa-file-text"></i></a>
                    </p>
                </div>
            </div>

            <div class="col-md-3 col-box">
                <div class="box">
                    <h2>Cancer fact sheets</h2>
                    <p class="icon">
                        <a href="fact-sheets-populations"> <i style="color:#a6611a;" class="fa fa-file-text-o"></i></a>
                    </p>
                </div>
            </div>

            <div class="col-md-3 col-box">
                <div class="box">
                    <h2>Sunburst</h2>
                    <p class="img">
                        <a href="online-analysis-sunburst"><img src="img/home/sunburst.png" title="Sunburst"/></a>
                    </p>
                </div>
            </div>

            <div class="col-md-3 col-box">
                <div class="box">
                    <h2>Our cancer registries</h2>
                    <p>
                        <ul>
                            <li><a href="http://www.iacr.com.fr/" target="_blank"><img width="90" src="img/IACR.png" title="IACR" /></li>
                            <li><a href="http://gicr.iarc.fr/" target="_blank"><img width="90" src="img/GICR.gif" title="GICR" /></li>
                        </ul>
                    </p>
                </div>
            </div>

        </div>

    </div>
    