	<div class="row start-text">
        <div class="container-in">
          
          <div class="content" ng-hide="hideSubMenu">

            <h1> CANCER TODAY <span class="sub_intro"> Estimated cancer incidence, mortality and prevalence worldwide in 2012.  </span></h1>
            
			    <div class="row slider">

			      <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="10000">

			        <a class="left carousel-control"role="button" data-slide="prev">
			          <i class="fa fa-chevron-left"></i>
			        </a>

			        <a class="right carousel-control" role="button" data-slide="next">
			          <i class="fa fa-chevron-right"></i>
			        </a>
			        <!-- Indicators -->
			        <ol class="carousel-indicators">
			          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			          <li data-target="#myCarousel" data-slide-to="1"></li>
			          <li data-target="#myCarousel" data-slide-to="2"></li>
			          <li data-target="#myCarousel" data-slide-to="3"></li>
			        </ol>
			        
			        <div class="carousel-inner" role="listbox">
			          
			           <div class="item active">
			            <div class="first_carousel">
			              <div class="carousel-caption">
			                 <div class="col-md-7">
			                  <h2 class="featurette-heading">Explore data sources & methods</h2>
			                  <p>                          
			                    The methods of estimation are country specific <br><br><a href="/data-sources-methods" class="link-more"> Start to explore </a>
			                  </p>
			                </div>
			                <div class="col-md-5">
			                  <img src="img/captures/map.PNG" alt="Globe">
			                </div>
			              </div>
			            </div>
			          </div>

			          <div class="item">
			            <div class="second_carousel">
			              <div class="carousel-caption">
			                <div class="col-md-8">
			                  <img src="svg/screenshots/fact-pie.svg" alt="Cancer facts sheets">
			                  <img src="svg/screenshots/fact-pie-1.svg" alt="Cancer facts sheets">
			                  <img src="svg/screenshots/fact-pie-2.svg" alt="Cancer facts sheets">
			                </div>
			                 <div class="col-md-4">
			                  <h2 class="featurette-heading">Take a look at the facts sheets</h2>
			                  <ul>
			                    <li><a href="/fact-sheets-populations"><i class="fa fa-arrow-right"></i>Population fact sheets</a></li>
			                    <li><a href="/fact-sheets-cancers"><i class="fa fa-arrow-right"></i>Cancer fact sheets</a></li>
			                  </ul>
			                </div>
			              </div>
			            </div>
			          </div>

			          <div class="item">
			            <div class="third_carousel">
			              <div class="carousel-caption">
			                 <div class="col-md-8">
			                  <h2 class="featurette-heading">Play with the online analysis tool</h2>
			                  <ul>
			                    <li><a href="/online-analysis-cancer-by-populations-cancers"> <i class="fa fa-bar-chart"></i> Graphs incidence + mortality</a></li>
			                    <li><a href="/online-analysis-map"><i class="fa fa-globe"></i>Simple maps</a></li>
			                  </ul>
			                </div>
			                <div class="col-md-4">
			                  <img src="svg/screenshots/pyramid.svg" alt="Globe">
			                </div>
			              </div>
			            </div>
			          </div>

			          <div class="item">
			            <div class="third_carousel">
			              <div class="carousel-caption">
			                 <div class="col-md-4">
			                  <h2 class="featurette-heading">Go to the previous version of Globocan</h2>
			                  <a href="http://globocan.iarc.fr/Default.aspx" target="_blank" class="link-more link-bigger"> Open the website </a>
			                </div>
			                <div class="col-md-8">
			                  <img class="shadow" src="img/banniere-globlocan-website.jpg" alt="Globocan 2012">
			                </div>
			              </div>
			            </div>
			          </div>



			        </div>
			       
			      </div><!-- /.carousel -->

			    </div>

			    <div class="row splash">

			      <div class="col-md-3">
			        <h2>Fact sheets</h2>
			        <p>
			          <a href="/fact-sheets-populations" class="hvr-sink"><img src="img/chart_3.png"/></a>
			        </p>
			      </div>
			      <div class="col-md-2">
			        <h2>Maps</h2>
			        <p>
			          <a href="/online-analysis-map" class="hvr-sink"><img src="img/chart_4.png"/></a>
			        </p>
			      </div>
			       <div class="col-md-2">
			        <h2>Bar chart</h2>
			        <p>
			          <a href="/online-analysis-populations-by-cancer-i-m" class="hvr-sink"><img src="img/chart_1.png"/></a>
			        </p>
			      </div>
			      <div class="col-md-2">
			        <h2>Pie chart</h2>
			        <p>
			          <a href="/online-analysis-populations-by-cancer" class="hvr-sink"><i class="fa fa-pie-chart"></i></a>
			        </p>
			      </div>
			      <div class="col-md-2">
			        <h2>Downloads</h2>
			        <p>
			          <a href="/#" class="hvr-sink"><i class="fa fa-download"></i></a>
			        </p>
			      </div>

			  </div>

			  <div class="zone-right">
			    <div class="right-sidebar news-block">
			      <h2>Latest news</h2>
			      <ul>
			        <li>
			          <h3> <date>06/09/2015 </date> TITLE NEWS </h3>
			          <p>The International Agency for Research on Cancer announces today the availability of global cancer prevalence ... <a href="#">read more</a></p>
			        </li>
			        <li>
			          <h3><date>14/08/2015 </date>  TITLE NEWS </h3>
			          <p>The International Agency for Research on Cancer announces today the availability of global cancer prevalence ... <a href="#">read more</a></p>
			        </li>
			      </ul>
			    </div>

			    <div class="box-contact">
			      <h2> Powered by globocan  </h2>
			      <p>
			        Cancer today is the new version of Globocan 2012. You can <a href="http://globocan.iarc.fr/Default.aspx" class="white" target="_blank"> visit the website by clicking here </a>. 

			      </p>
			    </div>
			  </div>

          </div><!-- end content -->

        </div><!-- end container in -->
      </div><!-- end row start text -->

