	        
        <div class="container-in container-home">
       		
        	<div class="row home-line">
                <div class="col-md-3">
                    <div class="item">
                        <h2> Our research </h2>
                        <p> Our research : , consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.  <span class="tbd"></span></p>
                    </div>
                </div>

        		<div class="col-md-6">
                    <div class="item">
                        <div class="row">
                            <div class="col-md-6">
                                <h3> Maps 3D </h3>
                                <p><img src="img/home/globe.png" title="Globe"></p>
                            </div>
                            <div class="col-md-6">
                                <h3 class="right"> Maps 2D </h3>
                                <p><img src="img/home/map.png" title="Map"></p>
                            </div>
                        </div>
                    </div>
                </div>

				<div class="col-md-3">
                    <div class="item">
                        <h3>Fact sheets </h3>
                        <ul>
                            <li>CANCER</li>
                            <li>POPULATION</li>
                        </ul>
                    </div>
                </div>

        	</div>

        	<div class="row home-line">
                
                <div class="col-md-9">
                        
                    <div class="row home-line">

                        <div class="col-md-4">
                            <div class="item">
                                <h2>Circle pack</h2>
                                <a href="online-analysis-circle-packing" data-toggle="Circle pack chart"><img src="img/home/circle-pack.png" title="Circle pack chart"></a>
                            </div>
                        </div>

                        <div class="col-md-8">
                            <div class="item fixed">
                                <h3>Explore</h3>
                                <div class="row">
                                    <div class="col-md-8">
                                        
                                    </div>
                                    <div class="col-md-4">
                                        <div class="item">
                                            <h3>Take a tour</h3>
                                            <a class="tat" data-toggle="Globe chart">
                                               <i class="fa fa-play-circle fa-4"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row home-line">

                        <div class="col-md-4">
                            <div class="item">
                                <h2>Force layout</h2>
                                <a href="online-analysis-force-bubbles" data-toggle="Force layout chart"><img src="img/home/force-layout.png" title="Force layout chart"></a>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="item">
                                <h2>Tables</h2>
                                <table class="table table-striped table-bordered tablesorter">
                                    <thead>
                                        <tr>
                                            <th class="left">Regions</th><th>Estimation (x1000)</th><th>%</th>
                                        </tr>
                                    </thead>
                                    <tr><td class="left">WPRO</td><td>4,543</td><td>32.3%</td></tr>
                                    <tr><td class="left">EURO</td><td>3,715</td><td>26.4%</td></tr>
                                    <tr><td class="left">PAHO</td><td>2,882</td><td>20.5%</td></tr>
                                    <tr><td class="left">SEAHRO</td><td>1,724</td><td>12.3%</td></tr>
                                    <tr><td class="left">AFRO</td><td>645</td><td>4.6%</td></tr>
                                    <tr><td class="left">EMRO</td><td>555</td><td>3.9%</td></tr>
                                </table>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="item">
                            <a class="twitter-timeline" href="https://twitter.com/search?q=%23IARC%20WHO" data-widget-id="679585159155429380">Tweets on #IARC WHO</a>
                            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
                            </script>
                        </div>
                        </div>

                    </div>

                </div>

                <div class="col-md-3">
                    <div class="item registries">
                        <h3>Powered by registries</h3>
                        <a href="http://www.iacr.com.fr/"><img src="img/IACR.png" title="IACR"></a>
                        <p>The International Association of Cancer Registries is a professional society, whose members are interested in the development and application of cancer registration and morbidity survey techniques to studies of defined population groups.<p>
                    </div>
                </div>

            </div>
            

        </div><!-- end container in -->


