	        
        <div class="container-in container-home">
       		
        	<div class="row home-line">
                <div class="col-md-2">
                    <div class="item">
                        <p>
                            <i class="fa fa-male"></i> In 2012, among <span class="style1">7 054 446 000</span> people in the world, <span class="style2">18,5% </span> of them have the risk of getting a cancer before the age of 75. <br/>
                            <i class="fa fa-female"></i> <span class="style2">8 201 600</span> deaths were registered.
                        </p>
                    </div>
                </div>
        		<div class="col-md-2">
                    <div class="item">
                        <h2>Globe</h2>
                        <a href="online-analysis-globe" data-toggle="Globe chart"><img src="img/home/globe.png" title="Globe chart"></a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="item">
                        <h2>Force layout</h2>
                        <a href="online-analysis-force-bubbles" data-toggle="Force layout chart"><img src="img/home/force-layout.png" title="Force layout chart"></a>
                    </div>
                </div>
				<div class="col-md-2">
                    <div class="item">
                        <h2>Pie chart</h2>
                        <a href="online-analysis-pie" data-toggle="Pie chart"><img src="img/home/pie.png" title="Pie chart"></a>
                    </div>
                </div>
				<div class="col-md-2">
                    <div class="item">
                        <h3>Take a tour</h3>
                        <a class="tat" data-toggle="Globe chart">
                           <i class="fa fa-play-circle fa-4"></i>
                        </a>
                    </div>
                </div>
				<div class="col-md-2">
                    <div class="item">
                        <h2>Sunburst</h2>
                        <a href="online-analysis-sunburst" data-toggle="Sunburst chart"><img src="img/home/sunburst.png" title="Sunburst chart"></a>
                    </div>
                </div>

        	</div>

        	<div class="row home-line">
                <div class="col-md-2">
                    <div class="item">
                        <h2>Circle pack</h2>
                        <a href="online-analysis-circle-packing" data-toggle="Circle pack chart"><img src="img/home/circle-pack.png" title="Circle pack chart"></a>
                    </div>
                </div>
                 <div class="col-md-2">
                    <div class="item">
                        <h2>Triangle chart</h2>
                        <a href="online-analysis-pyramid" data-toggle="Circle pack chart"><img src="img/home/triangle.png" title="Triangle chart"></a>
                    </div>
                </div>
        		<div class="col-md-2">
                    <div class="item">
                        <h3> Cancer fact sheets </h3>
                    </div>
                </div>
				<div class="col-md-6">
                    <div class="item">
                        <h2>Map chart</h2>
                        <a href="online-analysis-map" data-toggle="Map chart"><img src="img/home/map.png" title="Map chart"></a>
                    </div>
                </div>
        	</div>

        	<div class="row home-line home-criteria">
        		<div class="col-md-3">
                    <div class="item">
                        <h3>Estimated number of cancers</h3>
                        <table class="table table-striped table-bordered tablesorter">
                            <thead>
                                <tr>
                                    <th class="left">Regions</th><th>Estimation (x1000)</th><th>%</th>
                                </tr>
                            </thead>
                            <tr><td class="left">WPRO</td><td>4,543</td><td>32.3%</td></tr>
                            <tr><td class="left">EURO</td><td>3,715</td><td>26.4%</td></tr>
                            <tr><td class="left">PAHO</td><td>2,882</td><td>20.5%</td></tr>
                            <tr><td class="left">SEAHRO</td><td>1,724</td><td>12.3%</td></tr>
                            <tr><td class="left">AFRO</td><td>645</td><td>4.6%</td></tr>
                            <tr><td class="left">EMRO</td><td>555</td><td>3.9%</td></tr>
                        </table>
                    </div>
                </div>
				<div class="col-md-3">
                    <div class="item paragraphs">
                        <h3>Latest news</h3>
                        
                        <h4>22/12/2015 - Launch of the Cancer and Obesity website</h4>
                        <p>
                            <img src="img/home/news-obesity.png" title="Cancer and Obesity" align="left"> The International Agency for Research on Cancer (IARC) is pleased to announce the launch of the Cancer and Obesity website, which provides a variety of interactive tools for analysing and visualizing data on the estimated global burden of cancer in 2012 attributable to excess body weight (based on data previously published in the Lancet Oncology).
                        </p>
                    </div>
                </div>
				<div class="col-md-3">
                    <div class="item">
                        <a class="twitter-timeline" href="https://twitter.com/search?q=%23IARC%20WHO" data-widget-id="679585159155429380">Tweets on #IARC WHO</a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
                        </script>
                    </div>
                </div>
				<div class="col-md-3">
                    <div class="item alternate">
                        <span class="vertical">The 5 top cancers</span>
                        <ul class="top">
                            <li><a href="#"> LUNG </a></li>
                            <li><a href="#"> BREAST</a></li>
                            <li><a href="#"> COLORECTUM</a></li>
                            <li><a href="#"> PROSTATE</a></li>
                            <li><a href="#"> STOMACH</a></li>
                        </ul>
                    </div>
                </div>
        	</div>
            

        </div><!-- end container in -->


