

	<section layout="row" flex layout-fill style="height: 100%">

		<md-sidenav class="md-sidenav-left md-whiteframe-z2 filters" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
			<ng-include src="'templates/online-analysis/filters-flex.html'"></ng-include>
	    </md-sidenav>

	    <md-content flex layout-padding ng-controller="DataVizController">
	      		      
	      	<ul class="breadcrumb">
		      	<li><a href="/today/home">Home</a></li>
		        <li><a href="/today/online-analysis">Online analysis</a></li>
	  			<li> Radial bars chart</li>
	      	</ul>

	      	<md-tabs md-dynamic-height md-border-bottom style="width:{{ width }}px">
		      <md-tab label="Graphic">
		        <md-content class="md-padding" id="graphic-content">
		        	<div id="radial-bars-container">
			          	<div id="svg" layout="column" layout-fill layout-align="top center">
				      	</div>
			      	</div>
		        </md-content>
		      </md-tab>
		      <md-tab label="Table">
		        <md-content class="md-padding">
		          <div id="table-data" flex></div>
		        </md-content>
		      </md-tab>
		     
		    </md-tabs>

	      

	    </md-content>

	  </section>