	
	<ng-include src="'templates/sub-menu.html'"></ng-include>	

	<div class="row">

      <div id="filters" class="col-md-3 content zone-filters" style="padding-top: 100px;">  
        
        <div id="filter-content"></div>
      </div>

      <div class="col-md-9 content data-graph-table" id="dualbars-container">
        <ul class="breadcrumb">
          <li><a href="/today/home">Home</a></li>
          <li><a href="/today/online-analysis">Online analysis</a></li>
          <li>Dual bars</li>
        </ul>
        <div id="svg"><svg></svg></div>
      </div>
    </div>