// colors
$main_color : #000 ; 
$blue : #0b80b7 ; 
$blue2: $blue ; // #1e4273
$blue3: #1e4273; 
$orange : #ffa147  ; 
$second_color : #A51618 ; 
$blue2_rgba : rgba(11, 128, 183,0.8); // rgba(30, 66, 115,0.8);
$blue3_rgba : rgba(30, 66, 115, 0.9) ;
// small palette of colors
$chart_color1 : #a9d4b7 ; // vert
$chart_color2 : #e65a53 ; // rouge
$chart_color3 : #f0ca69 ; // jaune orange
$chart_color4 : #6cbbe6 ; // bleu clair
$chart_color5 : #2c7d94 ; // bleu foncé
$chart_color6 : #c29c3c ; // orange clair
$chart_color7 : #7ca689 ; // vert foncé