
	<div class="h-container">

		<p class="baseline">
			Data visualization tools that present current national estimates of the incidence, mortality, and prevalence
		</p>

		<div class="grid">
		
			<div class="grid-item">
				<div class="grid-item-content reveal video">
					<h2 class="basic"> Take a tour </h2>
					<a href="#modalTakeATourVideo" class="btn_play" data-toggle="modal" title="Take a tour">
						<i class="fa fa-play-circle" aria-hidden="true"></i>
						<img align="center" src="img/home/video.png" width="150">
					</a>
				</div>
		  	</div>

		  	<div class="grid-item">
		  		<div class="grid-item-content reveal">
					<h2 class="basic"> Explore </h2>
					<a href="explore" data-toggle="tooltip" title="Explore">
						<img align="center" src="img/home/explore.png" id="pic_explore" >
					</a>
				</div>
		  	</div>

		  	<div class="grid-item grid-item--height2">
		  		<div class="grid-item-content">
					<h2> Charts  </h2>
					<div class="overflowed">
						<a href="online-analysis-pie" class="left" data-toggle="tooltip" data-placement="right" title="Pie chart"><img src="img/home/set6/pie.png"></a>
						<a href="online-analysis-dual-bars" class="right" data-toggle="tooltip" title="Dual bar chart"><img src="img/home/set6/dual-bars.png"></a>
					</div>
				</div>
		  	</div>

		  	<div class="grid-item grid-item--width2 grid-item--height2">
		  		<div class="grid-item-content">
					<h2> Simple map </h2>

					<div class="overflowed">
						<a href="online-analysis-map" class="map" data-toggle="tooltip" title="Simple map"><img src="img/home/set6/map.png"></a>
					</div>

				</div>
			</div>

		  	<div class="grid-item grid-item--width2 grid-item--height2 multiple">
		  		<div class="grid-item-content">
					<h2> Charts </h2>
					<div class="overflowed">
						<a href="online-analysis-treemap" class="anim1" data-toggle="tooltip" data-placement="bottom"  title="Treemap"><img src="img/home/set6/treemap.png"></a>
						<a href="online-analysis-force-bubbles" class="anim2" data-toggle="tooltip" title="Force layout"><img src="img/home/set6/force-layout.png"></a>
						<a href="online-analysis-sunburst" class="anim3" data-toggle="tooltip" data-placement="left" title="Sunburst"><img src="img/home/set6/sunburst.png"></a>
					</div>
				</div>
		  	</div>


		  	<div class="grid-item">
		  		<div class="grid-item-content fact-sheets">
					<h2> Fact sheets </h2>
					<a href="#" data-toggle="tooltip" title="Fact sheets" ng-click="showFactSheetsModal()"><img src="img/home/pop-fact-sheets.png"></a>
					<a href="#" data-toggle="tooltip" title="Fact sheets" ng-click="showFactSheetsModal()"><img src="img/home/cancer-fact-sheets.png"></a>
				</div>
		  	</div>

		  	<div class="grid-item">
		  		<div class="grid-item-content">
					<h2> Bar chart </h2>
					<div class="overflowed short">
						<a href="online-analysis-multi-bars" class="bottom" data-toggle="tooltip" title="Bar chart"><img src="img/home/set6/bars.png"></a>
					</div>	
				</div>
		  	</div>

		  	<div class="grid-item">
		  		<div class="grid-item-content">
					<h2>Table</h2>
					<div class="overflowed short">
						<a href="online-analysis-table" class="table" data-toggle="tooltip" title="Table"><img src="img/home/set6/table.png"></a>
					</div>
				</div>
			</div>

			<div class="grid-item">
		  		<div class="grid-item-content">	
		  			<h2>Risk factors</h2>	
		  			<div class="overflowed">
						<a href="http://gco.iarc.fr/obesity/home" target="_blank" class="risk" data-toggle="tooltip" title="Cancer & obesity"><img src="http://gco.iarc.fr/obesity/img/logo.png"></a>
					</div>
				</div>
		  	</div>


		  	<div class="grid-item grid-item--width2">
		  		<div class="grid-item-content registries">
					<h2 class="basic"> Powered by cancer registries </h2>
					<p>
                        <a href="#modal-registries" class="IACR" target="_blank" data-toggle="tooltip" title="IACR">
                            <img src="img/iacr-square.png" title="IACR" />
                        </a>
                        <a href="#modal-registries" class="GICR" target="_blank" data-toggle="tooltip" title="GICR">
                            <img src="img/gicr-square.png" title="GICR" />
                        </a>
                    </p>
				</div>
		  	</div>

		</div>

	</div>