	
    
    <ng-include src="'templates/sub-menu.html'"></ng-include>

	  <div class="row cangraph">
      <div id="filters" class="col-md-3 content zone-filters" style="padding-top: 100px;">  
        <p> Sunburst </p>  
        <div id="filter-content">
          <ng-include src="'templates/online-analysis/filters.html'"></ng-include>
        </div>
      </div>

      <div class="col-md-9 content data-graph-table sunburst-graph">

        <ul class="breadcrumb">
          <li><a href="/today/home">Home</a></li>
          <li><a href="/today/online-analysis">Online analysis</a></li>
          <li> Sunburst </li>
        </ul>

        <div id="svg">
          <svg></svg>
          <div id="details" style="visibility: hidden;">
            <span id="label"><span id="flag"></span></span><br/>
            <span id="value"></span>
          </div>
        </div>
      </div>
    </div>