	
    
    <ng-include src="'templates/sub-menu.html'"></ng-include>

	  <div class="row cangraph">
      <div id="filters" class="col-md-3 content zone-filters" style="padding-top: 100px;">  
        <p> Bubble vizualisation </p>  
        <div id="filter-content"></div>
      </div>

      <div class="col-md-9 content data-graph-table bubbles-graph">
        <div id="svg" style="margin:20px 0 0 0 ;">
          <img src="img/loader.gif" class="loader">
          <svg></svg>
        </div>
      </div>
    </div>