      
      <div class="full-content h-container" id="data-sources-methods">

        <ul class="breadcrumb">
          <li><a href="/today/home">Home</a></li>
          <li>Data & methods</li>
        </ul>

        <h1>Data & methods</h1>

        <div class="row">

        
          <div class="col-md-8 col-relative">

            <p>
            CANCER TODAY enables a comprehensive assessment of the cancer burden worldwide in 2018, based on the GLOBOCAN estimates of incidence, mortality and prevalence for year 2018 in 185 countries or territories for 36 cancer types by sex and age group. </p>
            
            <p>
              Caution must be exercised when interpreting these estimates, given the limited quality and coverage of cancer data worldwide at present, particularly in low- and middle-income countries. IARC’s approach is not only to evaluate, compile, and use the data from the Agency’s collaborators in these estimates but also to work alongside national staff to improve local data quality, registry coverage, and analytical capacity. The clear need for investment in population-based cancer registration in low- and middle-income countries led to the launch of the <a href="http://gicr.iarc.fr" target="_blank">Global Initiative for Cancer Registry Development (GICR),</a> coordinated by IARC. The goal of the GICR is to inform cancer control through defined improvements in the coverage, quality, and use of population-based cancer registration data worldwide. You can read more about these global efforts <a href="http://gicr.iarc.fr" target="_blank">here</a>.
            </p>

            <p>
              A summary of the steps used to generate the current set of cancer incidence, mortality, and prevalence estimates is provided below.
            </p>  

            <p>The methods of estimation are country-specific, and the quality of the national estimates depends on the coverage, accuracy, and timeliness of the recorded incidence and mortality data in a given country. </p>

            
            <!--<p><img src="img/xls.png" title="Excel file"> For more details, please <a href="/today/data/methods/globocan-2018-source-methods.xlsx" target="_blank">click here to download data source and methods in an excel file. </a>  </p>-->

            <h2 id="title-inc"> Incidence </h2>

            <p>The methods used to estimate the sex- and age-specific incidence rates of cancer in a specific country fall into the following broad categories, in order of priority:
            <!--<table class="source">
            
            <tr><td class="index">1</td><td> Observed national incidence rates were projected to 2018 (45 countries).</td></tr>
            <tr><td class="index">2</td><td> The most recently observed incidence rates (national (<strong>2a</strong>) or regional (<strong>2b</strong>)) were applied to the 2018 population (50 countries).</td></tr>
            <tr><td class="index">3a</td><td> Rates were estimated from national mortality data by modelling, using mortality-to-incidence ratios derived from cancer registries in that country (14 countries).</td></tr>
            <tr><td class="index">3b</td><td> Rates were estimated from national mortality estimates by modelling, using mortality-to-incidence ratios derived from cancer registries in neighbouring countries (37 countries).</td></tr>
            <tr><td class="index">4</td><td> Age- and sex-specific national incidence rates for all cancers combined were obtained by averaging overall rates from neighbouring countries. These rates were then partitioned to obtain the national incidence for specific sites using available cancer-specific relative frequency data (7 countries).</td></tr>
            <tr><td class="index">9</td><td> Rates were estimated as an average of those from selected neighbouring countries (32 countries).</td></tr>
            </table>-->

            <ul class="sources">
              <li><span class="bullet">1</span> Observed national incidence rates were projected to 2018 (45 countries).</li>
              <li><span class="bullet">2</span> The most recently observed incidence rates (national (<strong>2a</strong>) or regional (<strong>2b</strong>)) were applied to the 2018 population (50 countries).</li>
              <li><span class="bullet">3a</span> Rates were estimated from national mortality data by modelling, using mortality-to-incidence ratios derived from cancer registries in that country (14 countries).</li>
              <li><span class="bullet">3b</span> Rates were estimated from national mortality estimates by modelling, using mortality-to-incidence ratios derived from cancer registries in neighbouring countries (37 countries).</li>
              <li><span class="bullet">4</span> Age- and sex-specific national incidence rates for all cancers combined were obtained by averaging overall rates from neighbouring countries. These rates were then partitioned to obtain the national incidence for specific sites using available cancer-specific relative frequency data (7 countries).</li>
              <li><span class="bullet">9</span> Rates were estimated as an average of those from selected neighbouring countries (32 countries).</li>
            </ul>

            <!--<p><a href="/today/data/methods/GLOBOCAN2018_annexes.XLSX" target="_blank" class="pdf inside"><i class="fa fa-file-excel-o"></i> List of cancer registries that contributed to the GLOBOCAN project </a></p>-->

            <h2 id="title-mort"> Mortality </h2>
            <p>The methods used to estimate the sex- and age-specific mortality rates of cancer in a specific country fall into the following broad categories, in order of priority: </p>
            
            <!--<table class="source">
              <tr><td class="index">1</td><td> Observed national mortality rates were projected to 2018 (81 countries).</td></tr>
              <tr><td class="index">2</td><td> The most recently observed national mortality rates were applied to the 2018 population (20 countries).</td></tr>
              <tr><td class="index">3</td><td> Rates were estimated from the corresponding national incidence estimates by modelling, using incidence-to-mortality ratios derived from cancer registries in neighbouring countries (81 countries).</td></tr>
              <tr><td class="index">9</td><td> Rates were estimated as an average of those from selected neighbouring countries (3 countries).</td></tr>
            </table>-->

            <ul class="sources">
              <li><span class="bullet">1</span> Observed national mortality rates were projected to 2018 (81 countries).</li>
              <li><span class="bullet">2</span> The most recently observed national mortality rates were applied to the 2018 population (20 countries).</li>
              <li><span class="bullet">3</span> Rates were estimated from the corresponding national incidence estimates by modelling, using incidence-to-mortality ratios derived from cancer registries in neighbouring countries (81 countries).</li>
              <li><span class="bullet">9</span> Rates were estimated as an average of those from selected neighbouring countries (3 countries).</li>
            </ul>
            
            <p>The complete sources of information and methods used to estimate the global incidence and mortality in 2018 together with their uncertainty intervals (for all ages) can be found in <a href="/today/help?tab=6">Ferlay et al. (2018)</a>. </p> 

            <p><a href="/today/data/methods/GLOBOCAN2018_annexes.pdf" target="_blank" class="pdf inside"><i class="fa fa-file-excel-o"></i> Supplemented material including the list of cancer registries that contributed to the GLOBOCAN project</a></p>

            <p><a href="/today/data/methods/GLOBOCAN2018_Annex_A.XLSX" target="_blank" class="xls inside"><i class="fa fa-file-excel-o"></i> Cancer incidence and mortality data: sources and methods by country</a>
             </p>

             <p><a href="/today/data/methods/GLOBOCAN2018_Annex_E.XLSX" target="_blank" class="xls inside"><i class="fa fa-file-excel-o"></i> Methods of estimation and penalties used to correct the standard error</a></p>

             <p>A description of the key results by cancer site globally and by world region is available in <a href="/today/help?tab=6">Bray et al. (2018)</a>.</p>
            
            <h2 id="title-prev">Prevalence </h2>
            
            <p>The prevalence estimates for 2018 were computed using sex-, site-, and age-specific ratios of incidence to 1-, 3-, and 5-year prevalence from Nordic countries for the period 2000–2009.</p>

            <p><img src="img/prevalence-formula.png" class="formula" title="PrevalenceCountry = IncidenceCountry * (PrevalenceNordic/IncidenceNordic) * (HDICountry/HDINordic)"></p>

            <p>These ratios were scaled using Human Development Index (HDI) ratios, with the following exceptions:</p>

            

            <ol>
              <li>Cancers of the breast and prostate. For countries having high, medium and low HDI, the prevalence to incidence ratios used (Nordic countries) were from the same source for the period 1980–1989, corresponding to pre-screening activities.</li>
              <li> 
                Cancers of the oesophagus, stomach, liver, gallbladder, pancreas, and lung, and mesothelioma. Because survival is generally low for these sites, the corresponding country-specific to Nordic countries HDI ratios (HDI<sub>Country</sub>/HDI<sub>Nordic</sub>) were set to a minimum value (0.9 for oesophagus, liver, gallbladder, and pancreas, 0.8 for lung and mesothelioma, and 0.75 for stomach cancer).
                <!--<p><img src="img/hdi-ratio.png" class="formula" title="HDICountry/HDINordic"></p>-->

              </li>
              <li> Republic of Korea and Japan. Because survival from cancers of the stomach and liver differs markedly for these countries, the country-specific relative survival ratios between the Republic of Korea and Japan and the Nordic countries were used, rather than the HDI ratios.</li>
            </ol>

            <p>Prevalence is available both as numbers and as proportions of the population per 100 000 persons.</p>

            <h3>References</h3>
            <p>
              Engholm G, Ferlay J, Christensen N, Kejs AMT, Hertzum-Larsen R, Johannesen TB, Khan S, Leinonen MK, Ólafsdóttir E, Petersen T, Schmidt LKH, Trykker H, Storm HH. NORDCAN: Cancer Incidence, Mortality, Prevalence and Survival in the Nordic Countries, Version 7.3 (08.07.2016). Association of the Nordic Cancer Registries. Danish Cancer Society. <<a href="http://www.ancr.nu" target="_blank">http://www.ancr.nu</a>> [accessed August 2017].
              
              <br/><br/>
              United Nations Development Programme. Human Development Report 2016. <a href="http://hdr.undp.org/en" target="_blank">http://hdr.undp.org/en</a> [accessed January 2018]
            
            </p>

            <h2 id="cancer-dictionnary"> Cancer dictionary </h2>
            <p>List of the cancer sites available in the GLOBOCAN database and their corresponding International Classification of Disease (ICD, 10th revision, version 2010) codes.</p>
            <ul class="cancer-dic">
              <li ng-repeat="cancer in cancers">{{ cancer.ICD }} - {{ cancer.label }}</li>
            </ul>

            <h2 id="population-dictionnary"> Population dictionary </h2>

            <ul class="pop-dic">

              <li>
                  <span class="level1">WORLD</span> 
                  <ul>
                    <li><a href="http://hdr.undp.org/" target="_blank">UNDP (2016)</a> Very High Human Development Index countries </li>
                    <li><a href="http://hdr.undp.org/" target="_blank">UNDP (2016)</a> High Human Development Index countries  </li>
                    <li><a href="http://hdr.undp.org/" target="_blank">UNDP (2016)</a> Medium Human Development Index countries  </li>
                    <li><a href="http://hdr.undp.org/" target="_blank">UNDP (2016)</a> Low Human Development Index countries  </li>
                </ul>
              </li>


              <li>
                  <span class="level1">WHO REGIONS</span> 
                  <ul>
                    <li><a href="http://www.afro.who.int/" target="_blank">WHO Africa region (AFRO)</a>  </li> 
                    <li><a href="http://www.paho.org/" target="_blank">WHO The Americas region (PAHO)</a>  </li>
                    <li><a href="http://www.emro.who.int/" target="_blank">WHO Eastern Mediterranean region (EMRO)</a>  </li>
                    <li><a href="http://www.euro.who.int/" target="_blank">WHO Europe region (EURO)</a>  </li>
                    <li><a href="http://www.searo.who.int/" target="_blank">WHO South-East Asia region (SEARO)</a>  </li>
                    <li><a href="http://www.wpro.who.int/" target="_blank">WHO Western Pacific region (WPRO)</a> </li>
                  </ul>
              </li>

              <li>
                  <span class="level1">INCOME LEVELS</span> 
                  <ul>
                    <li><a href="http://www.afro.who.int/" target="_blank"><a href="https://datahelpdesk.worldbank.org/knowledgebase/articles/906519-world-bank-country-and-lending-groups" target="_blank">World Bank list of economies (June 2018)</a> Low income  </li> 
                    <li><a href="http://www.afro.who.int/" target="_blank"><a href="https://datahelpdesk.worldbank.org/knowledgebase/articles/906519-world-bank-country-and-lending-groups" target="_blank">World Bank list of economies (June 2018)</a> Low middle income  </li> 
                    <li><a href="http://www.afro.who.int/" target="_blank"><a href="https://datahelpdesk.worldbank.org/knowledgebase/articles/906519-world-bank-country-and-lending-groups" target="_blank">World Bank list of economies (June 2018)</a> Upper middle income  </li> 
                    <li><a href="http://www.afro.who.int/" target="_blank"><a href="https://datahelpdesk.worldbank.org/knowledgebase/articles/906519-world-bank-country-and-lending-groups" target="_blank">World Bank list of economies (June 2018)</a> High income  </li> 
                  </ul>
              </li>

              <li ng-repeat="population in populations">
                  <span class="level1">{{ population.title }}</span>
                  <ul>
                    <li ng-repeat="region in population.regions"><span class="level2">{{ region.title }}</span>
                      <!--<span ng-repeat="country in region.values">'{{ country.ISO_3_CODE }}',</span>-->
                      <ul>
                        <li ng-repeat="country in region.values">{{ country.title }}</li>
                      </ul>
                    </li>
                  </ul>
              </li>
              
            </ul>
            <!--<div id="map-container">
               <div id="bloc-filter">
                <hierarchy-search dataset="list"></hierarchy-search>
              </div>
              <div id="filters"><div id="filter-content"></div></div>
              <div id="svg"></div>
            </div>-->
          </div>

          <div class="col-md-4">
            
            <ul class="sidebar">
              
              <li> <a href="#title-inc">Incidence</a> </li>
              <li> <a href="#title-mort">Mortality</a> </li>
              <li> <a href="#title-prev">Prevalence</a> </li>
              <li> <a href="#cancer-dictionnary">Cancer dictionary</a> </li>
              <li> <a href="#population-dictionnary">Population dictionary</a> </li>
              <li><a href="/today/data/methods/GLOBOCAN2018_annexes.pdf" target="_blank" class="pdf"><i class="fa fa-file-pdf-o"></i> Supplemented material including the list of cancer registries that contributed to the GLOBOCAN project</a></li>
              <li><a href="/today/data/methods/GLOBOCAN2018_Annex_A.XLSX" target="_blank" class="xls"><i class="fa fa-file-excel-o"></i> Cancer incidence and mortality data: sources and methods by country</a></li>
              <li><a href="/today/data/methods/GLOBOCAN2018_Annex_E.XLSX" target="_blank" class="xls"><i class="fa fa-file-excel-o"></i> Methods of estimation and penalties used to correct the standard error</a></li>

              

            </ul>
          </div>

          

        </div>

        <!--<div class="row">

          <div class="col-md-12">
            
            <div id="info" style="display: none;">
              <h2> <span class="f32"><span id="flag" class="flag fr"></span></span> <span id="country">France</span></h2>
              
              <div id="info-data">

                <div class="row">

                  <div class="col-md-6">
                    <h3>Source <span id="indice"></span></h3>
                    
                    <p>
                      <strong> Incidence</strong>: <span id="i_source">no data.</span>
                    </p>
                     

                    <p>
                      <strong> Mortality</strong>: <span id="m_source">no data.</span>
                    </p>

                  </p>
                  
                  </div>
                  <div class="col-md-6">

                    <h3> Methods</h3>

                    <p>
                      <strong> Incidence</strong>: <span id="i_method">no data.</span>
                    </p>

                    <p>
                      <strong> Mortality</strong>: <span id="m_method">no data.</span>
                    </p>

                  </div>

                  <div class="col-md-12">
                    <p> <i>Reference<br>Ferlay J, Steliarova-Foucher E, Lortet-Tieulent J, Rosso S, Coebergh JWW, Comber H, Forman D, Bray F. Cancer incidence and mortality patterns in Europe: estimates for 40 countries in 2012. Eur J Cancer. 2013 Apr;49(6):1374-403. doi: 10.1016/j.ejca.2012.12.027.</i> </p>
                  </div>

                  <div class="copyrights">
                    <div class="col-md-9">{{ copyright_txt }}</div>
                    <div class="col-md-3">
                      <img src="img/who-logo.jpg" align="right" title="WHO LOGO"><br><br><br>
                      <p align="right">{{ copyright_logo }}</p>
                    </div>
                  </div>

                
                </div>

              </div>

              

            </div>

            
          </div>-->

        </div>
      </div>


      