
        

    <div class="home-centered bottom">

        <div class="row">

            <div class="col-md-3 col-box">
                <a href="#modal-our-research" data-toggle="modal">
                    <div class="box research">
                        <h2>Our research</h2>
                        <p>
                            IARC’s Section of Cancer Surveillance (CSU) compiles, analyses, interprets, and disseminates data on global cancer indicators to document the changing scale, epidemiological profile, and impact of the disease. <br/><u> Read more </u>
                        </p>
                    </div>
                </a>
            </div>

            <div class="col-md-3 col-box lower">
                <div class="box" onclick="document.location.href='online-analysis-map';">
                    <h2>Map</h2>
                    <p class="img">
                        <a href="online-analysis-map" class="rotate1" data-toggle="tooltip" title="Explore the simple map">
                            <img src="img/home/squares/globe-1.png" title="Map chart" class="rotate"/>
                        </a>
                    </p>
                </div>
            </div>

            
            <!--<div class="col-md-6 col-box">
                <div class="box boxer">
                    <div class="row">
                        <div class="col-md-6 double">
                            <p class="icon">
                                <a href="fact-sheets-cancers" class="color3 fsc" data-toggle="tooltip" title="See the cancer fact sheets">
                                    <i class="fa fa-file-text"></i>
                                </a>
                                <h3> Cancer fact sheets </h3>
                            </p>
                        </div>
                        <div class="col-md-6 double">
                            <p class="icon">
                                <a href="fact-sheets-populations" class="color4 pfs" data-toggle="tooltip" title="See the population fact sheets">
                                    <i class="fa fa-file-text-o"></i>
                                </a>
                                <h3> Population fact sheets </h3>
                            </p>
                        </div>
                    </div>
                </div>
            </div>-->

        </div>

        <div class="row">

            <div class="col-md-3 col-box lower" onclick="clickTaT()">
                <div class="box">
                    <h2>Take a tour</h2>
                    <p class="icon">
                        <a href="/take-a-tour.html" data-target="#modalTakeATourVideo" data-toggle="modal" class="btn_play tat" title="Take a tour">
                            <i class="fa fa-play"></i>
                        </a>
                    </p>
                </div>
            </div>

     
            <div class="col-md-3 col-box lower" onclick="document.location.href='explore';">
                
                <div class="box">
                    <h2>Explore</h2>
                    <p class="icon">
                        <a href="explore" class="color3" data-toggle="tooltip" title="Explore the data">
                            <i class="fa fa-search alternate"></i>
                        </a>
                    </p>
                </div>
            </div>

            <div class="col-md-3 col-box" onclick="document.location.href='online-analysis-table';">
                <div class="box">
                    <h2>Table</h2>
                    <p class="icon" style="margin-top:35px ;">
                        <a href="online-analysis-table" class="bigger" data-toggle="tooltip" title="Explore the table">
                            <i class="alternate fa fa-table"></i>
                        </a>
                    </p>
                </div>
            </div>

            <div class="col-md-3 col-box" id="col-box-tablet-top" onclick="document.location.href='online-analysis-dual-bars-2';">
                <div class="box">
                    <h2>Dual bars</h2>
                    <p class="img">
                       <a href="online-analysis-dual-bars-2" data-toggle="tooltip" title="Explore the dual chart">
                        <img src="img/home/squares/dual-bars.PNG" id="home-dual-bars" title="Dual bar chart"/>
                       </a>
                    </p>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-6 col-box">
                <div class="box boxer">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="img">
                                <a href="online-analysis-multi-bars" class="btn_bars" data-toggle="tooltip" title="Explore the bar chart">
                                    <img src="img/home/squares/bars-1.png"/>
                                </a>
                                <h3> Bar chart </h3>
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p class="img">
                                
                                <a href="online-analysis-pie" class="rotate" data-toggle="tooltip" title="Explore the pie chart">
                                    <img src="img/home/squares/pie-1.png" class="rotate"/>
                                </a>
                                <h3> Pie chart </h3>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-box">
                <div class="box">
                    <h2 id="title_carousel"><span> Parallel sets </span></h2>
                    <div class="carousel slide" data-ride="carousel" data-interval="10000" id="carousel3">
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <a href="online-analysis-parset" data-toggle="tooltip" data-title="Explore the parallel sets" attr-index="0">
                                    <img src="img/home/squares/parsets-2.png" style="height: 100px; width : 140px;" title="Parallel sets"/>
                                </a>
                            </div>
                            <div class="item">
                                <a href="online-analysis-circle-packing" data-toggle="tooltip" data-title="Explore the circle packing" title="Explore the circle packing" attr-index="1">
                                    <img src="img/home/squares/circle-pack-1.png" style="height: 110px;margin-left:10px;" title="Circle packing"/>
                                </a>
                            </div>
                            <div class="item">
                                <a href="online-analysis-treemap" data-toggle="tooltip" data-title="Explore the treemap" title="Explore the treemap" attr-index="2">
                                    <img src="img/home/squares/treemap-1.png" style="height: 100px; margin-left: 5px;" title="Treemap"/>
                                </a>
                            </div>
                            <div class="item">
                                <a href="online-analysis-sunburst" data-toggle="tooltip" data-title="Explore the sunburst" title="Explore the sunburst chart" attr-index="3">
                                    <img src="img/home/squares/sunburst-1.png" style="height: 100px; margin-left: 20px;" title="Sunburst chart"/>
                                </a>
                            </div>
                            <div class="item">
                                <a href="online-analysis-force-bubbles" data-toggle="tooltip" data-title="Explore the force bubble chart" title="Explore the force bubble chart" attr-index="3">
                                    <img src="img/home/squares/force-layout.png" style="height: 100px; margin-left: 20px;" title="Force bubble chart"/>
                                </a>
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel3" role="button" data-slide="prev"><i class="fa fa-caret-left"></i></a>
                        <a class="right carousel-control" href="#carousel3" role="button" data-slide="next"><i class="fa fa-caret-right"></i></a>
                    </div>


                         
                </div>
            </div>

            
            <div class="col-md-3 col-box" id="col-box-tablet-top-second">
                <div class="box registries">
                    <h2>Powered by cancer registries</h2>
                    <p>
                        <a href="#modal-registries" class="IACR" target="_blank" data-toggle="modal" title="IACR">
                            <img src="img/iacr-square.png" title="IACR" />
                        </a>
                        <a href="#modal-registries" class="GICR" target="_blank" data-toggle="modal" title="GICR">
                            <img src="img/gicr-square.png" title="GICR" />
                        </a>
                    </p>
                </div>
            </div>

        </div>

    </div>
    